
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="https://inlaze.com/_astro/logo-dark.8fedcd5f_ZKfhUE.svg" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Crear prestamo</h2>
    </div>
    <div class="flex items-center justify-center p-12">
        <div class="mx-auto w-full max-w-[550px]">
          <form>
            <div class="mb-5">
              <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">Cliente</label>
              <select name="id_cliente" id="id_cliente" placeholder="Nombre completo"  formControlName="id_cliente"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                <option value="">Cliente</option>
              </select>
            </div>
            <div class="mb-5">
              <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">Cantidad a prestar</label>
              <input type="number" name="valor_deuda" placeholder="$" id="valor_deuda" formControlName="valor_deuda"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"/>
            </div>
            <div class="mb-5">
              <label for="cuotas" class="mb-3 block text-base font-medium text-[#07074D]">Cuotas</label>
              <input type="number " name="cuotas" id="cuotas" formControlName="cuotas" placeholder="Cuotas a diferir" 
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"/>
            </div>
            <div class="mb-5">
                <label for="fecha_inicio" class="mb-3 block text-base font-medium text-[#07074D]">fecha de pago</label>
                <input type="date" id="fecha_inicio" placeholder="Telefono celular" formControlName="fecha_inicio"
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"/>
            </div>
            <div>
              <button
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">Aceptar</button>
            </div>
          </form>
        </div>
    </div>
</div>
