
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="https://inlaze.com/_astro/logo-dark.8fedcd5f_ZKfhUE.svg" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Crear cliente</h2>
    </div>
    <div class="flex items-center justify-center p-12">
        <div class="mx-auto w-full max-w-[550px]">
          <form  [formGroup]="formCreateClient">
            <div class="mb-5">
              <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">Nombre Completo</label>
              <input type="text" name="nombre" id="name" placeholder="Nombre completo" required  formControlName="nombre"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"/>
            </div>
            <div class="mb-5">
              <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">Correo Electronico</label>
              <input type="email" name="email" id="email" placeholder="example@domain.com" required  formControlName="email"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"/>
            </div>
            <div class="mb-5">
              <label for="celular" class="mb-3 block text-base font-medium text-[#07074D]">Celular</label>
              <input type="text" name="celular" id="celular" required  formControlName="celular" placeholder="Telefono celular" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"/>
            </div>
            <div class='mb-5'>
                <label for="direccion" class="mb-3 block text-base font-medium text-[#07074D]">Dirección</label>
                <input type="text" required  formControlName="direccion" name="direccion" id="direccion" placeholder="Ingresa la dirección"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"/>
            </div>
            <div>
              <button (click)="create()" type="submit"  class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">Aceptar</button>
            </div>
          </form>
        </div>
    </div>
</div>
