<div class="py-20 pl-4">
    <div class="xl:container mx-auto px-6 md:px-12">
      <div class="mb-16 md:w-2/3 lg:w-1/2">
      </div>
      <div class="container mx-auto mt-8 max-w-md p-6 bg-white rounded-lg shadow-lg">
        <!-- Header -->
        <div class="flex items-center justify-between mb-4">
            <h2 class="mb-4 text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">Prestamos</h2>
        </div>
    
        <!-- Subtitle -->
        <p class="text-sm text-gray-500 mb-4">Prestamos Activos</p>
    
        <!-- Transactions List -->
        <div class="space-y-4">
            <!-- Transaction Item -->
            <div class="flex items-center justify-between border-b " (click)="prestamoDetail()">
                <div class="flex items-center gap-3">
                    <div >
                        <p class="text-sm font-medium text-gray-800">Yeison Alexis Velasco Trejos</p>
                        <p class="text-xs text-gray-400">Jun 15</p>
                        <p class="text-xs text-gray-400">Dic 15</p>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div>
                        <span class="px-2 py-1 text-xs font-medium text-blue-600 bg-blue-100 rounded-lg">Pending</span>
                        <p class="text-sm font-medium text-gray-800">$50000000</p>
                        <p class="text-sm font-medium text-gray-800">$150000000</p>
                    </div>
                </div>
            </div>
    
            <!-- Repeat this block for more transactions -->
            <div class="flex items-center justify-between border-b border-b">
                <div class="flex items-center gap-3">
                    <div>
                        <p class="text-sm font-medium text-gray-800">John Doe</p>
                        <p class="text-xs text-gray-400">Jun 14</p>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <span class="px-2 py-1 text-xs font-medium text-green-600 bg-green-100 rounded-lg">Done</span>
                    <p class="text-sm font-medium text-gray-800">-$100</p>
                </div>
            </div>
            <!-- Repeat this block for more transactions -->
            <div class="flex items-center justify-between border-b">
              <div class="flex items-center gap-3">
                  <div>
                      <p class="text-sm font-medium text-gray-800">John Doe</p>
                      <p class="text-xs text-gray-400">Jun 14</p>
                  </div>
              </div>
              <div class="flex items-center gap-3">
                  <span class="px-2 py-1 text-xs font-medium text-green-600 bg-green-100 rounded-lg">Done</span>
                  <p class="text-sm font-medium text-gray-800">-$100</p>
              </div>
          </div>
          <!-- Repeat this block for more transactions -->
            <div class="flex items-center justify-between border-b">
              <div class="flex items-center gap-3">
                  <div>
                      <p class="text-sm font-medium text-gray-800">John Doe</p>
                      <p class="text-xs text-gray-400">Jun 14</p>
                  </div>
              </div>
              <div class="flex items-center gap-3">
                  <span class="px-2 py-1 text-xs font-medium text-green-600 bg-green-100 rounded-lg">Done</span>
                  <p class="text-sm font-medium text-gray-800">-$100</p>
              </div>
          </div>
        <!-- Repeat this block for more transactions -->
          <div class="flex items-center justify-between border-b">
            <div class="flex items-center gap-3">
                <div>
                    <p class="text-sm font-medium text-gray-800">John Doe</p>
                    <p class="text-xs text-gray-400">Jun 14</p>
                </div>
            </div>
            <div class="flex items-center gap-3">
                <span class="px-2 py-1 text-xs font-medium text-red-600 bg-red-100 rounded-lg">Done</span>
                <p class="text-sm font-medium text-gray-800">-$100</p>
            </div>
        </div>
    
            <!-- Add more transactions as needed -->
        </div>
      </div>

        @for( prestamo of listPrestamos; track $index )
        {
          <div class="grid grid-cols-2 pl-4 gap-4 mb-2 bg-sky-500/75 h-20 rounded-[20px]">
              <div class="pt-1 pr-4">
                <h4 class="text-xl font-semibold dark:text-gray-700 text-white">{{prestamo["nombre_completo"]}}</h4>
                <span class="block text-sm text-gray-500">Numero de celular:  {{prestamo["celular"]}}</span>
              </div>
              <div class="sm:text-gray-300 dark:text-gray-600 sm:text-sm pt-7 pl-8">
                <p>Saldo
                  <a href="prestamos/detail" class="px-2 py-1 text-sm text-yellow-600 font-semibold rounded-full hover:text-white hover:bg-yellow-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-offset-2">Mas</a>
                </p>
              </div>
            </div>
          }
    </div>
  </div>
