<div class="pb-2">
    <div class="xl:container mx-auto px-6 md:px-12">
      <div class="mb-16 md:w-2/3 lg:w-1/2">
      </div>
      <div class="container mx-auto mt-8 max-w-md bg-white ">
        <!-- Header -->
        <div class="flex items-center justify-between mb-4">
            <h2 class="mb-4 text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">Prestamos</h2>
        </div>
        <!-- Transactions List -->
        <div class="space-y-4">
            <!-- Transaction Item -->
            <div class="flex flex-col gap-4 p-4 bg-white border rounded-lg shadow-md" (click)="prestamoDetail()">
                <!-- Encabezado -->
                <div class="flex items-center justify-between text-gray-400 text-sm">
                  <span>20 de agosto de 2024</span>
                  <span>#6ad85d</span>
                </div>

                <!-- Contenido principal -->
                <div class="flex items-center gap-4">
                  <!-- Icono -->
                  <div class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-100">
                    <img src="https://via.placeholder.com/32" alt="Icono" class="w-6 h-6" />
                  </div>

                  <!-- Información de la tarjeta -->
                  <div class="flex-1">
                    <p class="text-lg font-semibold text-gray-900">Yeison Alexis Velasco Trejos</p>
                    <p class="text-sm text-gray-500">3022475080</p>
                  </div>
                </div>

                <!-- Valores -->
                <div class="space-y-3">
                  <div class="flex items-center justify-between">
                    <span class="text-gray-500 text-sm">Valor de tu compra</span>
                    <span class="text-gray-900 font-semibold">$ 1.349.900,00</span>
                  </div>

                  <!-- Barra de progreso -->
                  <div class="w-full h-1 bg-gray-200 rounded-full">
                    <div class="h-1 bg-blue-600 rounded-full" style="width: 50%;"></div>
                  </div>

                  <div class="flex items-center justify-between">
                    <span class="text-gray-500 text-sm">Pago de capital pendiente</span>
                    <span class="text-gray-900 font-semibold">$ 710.427,84</span>
                  </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 p-4 bg-white border rounded-lg shadow-md" (click)="prestamoDetail()">
                <!-- Encabezado -->
                <div class="flex items-center justify-between text-gray-400 text-sm">
                  <span>20 de agosto de 2024</span>
                  <span>#6ad85d</span>
                </div>

                <!-- Contenido principal -->
                <div class="flex items-center gap-4">
                  <!-- Icono -->
                  <div class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-100">
                    <img src="https://via.placeholder.com/32" alt="Icono" class="w-6 h-6" />
                  </div>

                  <!-- Información de la tarjeta -->
                  <div class="flex-1">
                    <p class="text-lg font-semibold text-gray-900">Wilmer velasco</p>
                    <p class="text-sm text-gray-500">3213519908</p>
                  </div>
                </div>

                <!-- Valores -->
                <div class="space-y-3">
                  <div class="flex items-center justify-between">
                    <span class="text-gray-500 text-sm">Valor de tu compra</span>
                    <span class="text-gray-900 font-semibold">$ 1.349.900,00</span>
                  </div>

                  <!-- Barra de progreso -->
                  <div class="w-full h-1 bg-gray-200 rounded-full">
                    <div class="h-1 bg-blue-600 rounded-full" style="width: 90%;"></div>
                  </div>

                  <div class="flex items-center justify-between">
                    <span class="text-gray-500 text-sm">Pago de capital pendiente</span>
                    <span class="text-gray-900 font-semibold">$ 710.427,84</span>
                  </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 p-4 bg-white border rounded-lg shadow-md" (click)="prestamoDetail()">
                <!-- Encabezado -->
                <div class="flex items-center justify-between text-gray-400 text-sm">
                  <span>20 de agosto de 2024</span>
                  <span>#6ad85d</span>
                </div>

                <!-- Contenido principal -->
                <div class="flex items-center gap-4">
                  <!-- Icono -->
                  <div class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-100">
                    <img src="https://via.placeholder.com/32" alt="Icono" class="w-6 h-6" />
                  </div>

                  <!-- Información de la tarjeta -->
                  <div class="flex-1">
                    <p class="text-lg font-semibold text-gray-900">Yeison Alexis Velasco Trejos</p>
                    <p class="text-sm text-gray-500">Refurbi.com.co</p>
                  </div>
                </div>

                <!-- Valores -->
                <div class="space-y-3">
                  <div class="flex items-center justify-between">
                    <span class="text-gray-500 text-sm">Valor de tu compra</span>
                    <span class="text-gray-900 font-semibold">$ 1.349.900,00</span>
                  </div>

                  <!-- Barra de progreso -->
                  <div class="w-full h-1 bg-gray-200 rounded-full">
                    <div class="h-1 bg-blue-600 rounded-full" style="width: 50%;"></div>
                  </div>

                  <div class="flex items-center justify-between">
                    <span class="text-gray-500 text-sm">Pago de capital pendiente</span>
                    <span class="text-gray-900 font-semibold">$ 710.427,84</span>
                  </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 p-4 bg-white border rounded-lg shadow-md" (click)="prestamoDetail()">
                <!-- Encabezado -->
                <div class="flex items-center justify-between text-gray-400 text-sm">
                  <span>20 de agosto de 2024</span>
                  <span>#6ad85d</span>
                </div>

                <!-- Contenido principal -->
                <div class="flex items-center gap-4">
                  <!-- Icono -->
                  <div class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-100">
                    <img src="https://via.placeholder.com/32" alt="Icono" class="w-6 h-6" />
                  </div>

                  <!-- Información de la tarjeta -->
                  <div class="flex-1">
                    <p class="text-lg font-semibold text-gray-900">Yeison Alexis Velasco Trejos</p>
                    <p class="text-sm text-gray-500">Refurbi.com.co</p>
                  </div>
                </div>

                <!-- Valores -->
                <div class="space-y-3">
                  <div class="flex items-center justify-between">
                    <span class="text-gray-500 text-sm">Valor de tu compra</span>
                    <span class="text-gray-900 font-semibold">$ 1.349.900,00</span>
                  </div>

                  <!-- Barra de progreso -->
                  <div class="w-full h-1 bg-gray-200 rounded-full">
                    <div class="h-1 bg-blue-600 rounded-full" style="width: 50%;"></div>
                  </div>

                  <div class="flex items-center justify-between">
                    <span class="text-gray-500 text-sm">Pago de capital pendiente</span>
                    <span class="text-gray-900 font-semibold">$ 710.427,84</span>
                  </div>
                </div>
            </div>


            <!-- Add more transactions as needed -->
        </div>
      </div>

        @for( prestamo of listPrestamos; track $index )
        {
          <div class="grid grid-cols-2 pl-4 gap-4 mb-2 bg-sky-500/75 h-20 rounded-[20px]">
              <div class="pt-1 pr-4">
                <h4 class="text-xl font-semibold dark:text-gray-700 text-white">{{prestamo["nombre_completo"]}}</h4>
                <span class="block text-sm text-gray-500">Numero de celular:  {{prestamo["celular"]}}</span>
              </div>
              <div class="sm:text-gray-300 dark:text-gray-600 sm:text-sm pt-7 pl-8">
                <p>Saldo
                  <a href="prestamos/detail" class="px-2 py-1 text-sm text-yellow-600 font-semibold rounded-full hover:text-white hover:bg-yellow-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-offset-2">Mas</a>
                </p>
              </div>
            </div>
          }
    </div>
  </div>
